---
const { title,dato} = Astro.props
---


<div class="bg-[#00324D] w-3/4 h-[90px] rounded-[20px] ">
    <i class='bx bxs-check-circle text-3xl text-slate-100 pl-5 items-center'>
    <span class="text-slate-100 font-bold font-sans text-xl pl-4 ">{title}</span></i>
    <span class="text-slate-100 flex pl-16">{dato}</span>
</div>



<!-- 
    
<div class="">
    <div class="bg-[#00324D] w-2/4 h-16 rounded-md ">
        <i class='bx bxs-check-circle text-3xl text-slate-100 pl-5'>
        <span class="text-slate-100 font-bold font-sans text-xl pl-4 ">Tus dispositivos</span></i>
        <span class="text-slate-100 flex pl-16">Hay 2 dispositivos en los que has iniciado sesión</span>
    </div>
</div>

 -->


