<section class="w-[300px] h-[490px] bg-[#00324d] text-[#fff] ml-8 rounded-3xl">
    <div class="w-full flex flex-col gap-5 p-10 items-center justify-center">
        <img src="../../public/Bacca.jpg" class="w-5/6 h-full rounded-full">
        <strong>Carlos Bacca</strong>
    </div>
    <div class="flex items-center justify-center w-full">
        <div class="flex items-center justify-center w-full text-center flex-col gap-[50px]">
            <a class="text-slate-100 font-bold font-sans" href="./informacion">Informacion personal</a>
            <a class="text-slate-100 font-bold font-sans" href="./cursos">Mis cursos</a>
            <a class="text-slate-100 font-bold font-sans" href="./certificados">Mis certificados</a>
            <a class="text-slate-100 font-bold font-sans" href="./seguridad">Seguridad de la cuenta</a>
        </div>
    </div>
</section>